ENV=
INFURA_KEY=
APP_MODE=
ETHEXPLORER_API_KEY=
MAPBOX_STYLE_MONOCHROME=
MAPBOX_ACCESS_TOKEN=
MAPBOX_DOWNLOADS_TOKEN=
REFERRAL_LINK=
APP_SOURCE_NAME=
GEO_API_KEY=
PRIVATE_KEY=
POOL_ADDRESS=
MAX_CLASSIFICATION_COUNT=
FCM_APPLICATION_ID=
FCM_API_KEY=
FCM_PROJECT_ID=
FCM_GCM_SENDER_ID=
FCM_STORAGE_BUCKET=
